* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 15px;
}
.container {
    height: 100vh;
}

header {
    height: 8%;
    background-color: #8fc4ed;
    margin-bottom: 10px;
}

header img {
    height: 100%;
    display: block;
    border-radius: 999px;
}

nav {
    background-color: #8fc4ed;
    margin-bottom: 16px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding: 10px 20px;
    border-right: 2px solid gray;
    font-size: 18px;
    color: white;
}



.row{
    display: flex;
    flex-wrap: wrap;
}
section img{
    width: 90%;
}
.sticky-wrapper {
    position: sticky;
    top: 20px;
    align-self: flex-start;
}

aside img{
    width: 100%;
    height: 40%;
}

footer{
    margin-top:16px;
    height: 8%;
    background-color: #8fc4ed;
    text-align: center;

}

span{
    color: gray;
    font-weight: bold;
}






















.col-m-1 {
    width: 8.33%;
}

.col-m-2 {
    width: 16.66%;
}

.col-m-3 {
    width: 25%;
}

.col-m-4 {
    width: 33.33%;
}

.col-m-5 {
    width: 41.66%;
}

.col-m-6 {
    width: 50%;
}

.col-m-7 {
    width: 58.33%;
}

.col-m-8 {
    width: 66.66%;
}

.col-m-9 {
    width: 75%;
}

.col-m-10 {
    width: 83.33%;
}

.col-m-11 {
    width: 91.66%;
}

.col-m-12 {
    width: 100%;
}
