html, body {
    font-family: 'Poppins', sans-serif;
}

.header-section {
    background-image: url('https://images.squarespace-cdn.com/content/v1/53883795e4b016c956b8d243/1597218671764-YKLJLT6Z9SL71XR61699/chup-anh-mon-an-MAKI-11.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.navbar {
    position: relative;
    height: 60px;
}

.navbar-nav .nav-link {
    font-weight: bold;
}

.user-icon {
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.user-icon:hover {
    background-color: #000;
    color: #f0f0f0;
}

.navbar-brand img {
    height: 100%;
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    text-decoration: underline;
}

.scrollable-dropdown {
    max-height: 200px;
    overflow-y: auto;
}